:root {
  /* CSS HEX */
  --rose-madder: #cd2653; /* #da2c38ff;*/
  --maximum-yellow-red: #ffc857ff;
  --dark-jungle-green: #121212; /*#1e2019ff;*/
  --uranian-blue: #bce7fdff;
  --beige: #e7e3c5ff;
}

/* @import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css"); */

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  letter-spacing: normal;
  font-weight: 200;
}
h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "IBM Plex Regular";
}
@font-face {
  font-family: "IBM Plex Bold";
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf");
}
@font-face {
  font-family: "IBM Plex Regular";
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf");
}

#waf-title {
  font-family: "IBM Plex Bold";
  font-weight: 800;
  mix-blend-mode: color-burn;
  letter-spacing: -0.04em;
  text-align: left;
  min-height: 4em;
  margin-top: -50px;
  /* backdrop-filter: blur(2px);
  mix-blend-mode: exclusion; */
}

body {
  background-color: var(--dark-jungle-green);
}
p,
a {
  font-family: "Cascadia Code", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.site-title {
  font-weight: 100;
}
.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a {
  color: var(--rose-madder);
}

blockquote,
.border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus {
  border-color: var(--rose-madder);
}

button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
  background-color: var(--rose-madder);
}

.fill-children-accent,
.fill-children-accent * {
  fill: var(--rose-madder);
}
body,
.entry-title a,
:root .has-primary-color {
  color: white;
}

:root .has-primary-background-color {
  background-color: var(--dark-jungle-green);
}

cite,
figcaption,
.wp-caption-text,
.post-meta,
.entry-content .wp-block-archives li,
.entry-content .wp-block-categories li,
.entry-content .wp-block-latest-posts li,
.wp-block-latest-comments__comment-date,
.wp-block-latest-posts__post-date,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-pullquote cite,
.comment-metadata,
.comment-respond .comment-notes,
.comment-respond .logged-in-as,
.pagination .dots,
.entry-content hr:not(.has-background),
hr.styled-separator,
:root .has-secondary-color {
  color: #6d6d6d;
}

.entry-content {
  font-family: "Cascadia Code", sans-serif;
}

:root .has-secondary-background-color {
  background-color: #6d6d6d;
}

pre,
fieldset,
input,
textarea,
table,
table *,
hr {
  border-color: var(--uranian-blue);
}

caption,
code,
code,
kbd,
samp,
.wp-block-table.is-style-stripes tbody tr:nth-child(odd),
:root .has-subtle-background-background-color {
  background-color: var(--uranian-blue);
}

.wp-block-table.is-style-stripes {
  border-bottom-color: var(--uranian-blue);
}

.wp-block-latest-posts.is-grid li {
  border-top-color: var(--uranian-blue);
}

:root .has-subtle-background-color {
  color: var(--uranian-blue);
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: var(--rose-madder);
}

.social-icons a,
#site-footer button:not(.toggle),
#site-footer .button,
#site-footer .faux-button,
#site-footer .wp-block-button__link,
#site-footer .wp-block-file__button,
#site-footer input[type="button"],
#site-footer input[type="reset"],
#site-footer input[type="submit"] {
  background-color: var(--rose-madder);
}

ul.footer-social li {
  margin: 1rem;
}

.header-footer-group,
body:not(.overlay-header) #site-header .toggle,
.menu-modal .toggle {
  color: white; /*var(--dark-jungle-green);*/
}

#site-header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  margin-top: auto;
  left: 0;
  filter: drop-shadow(0px 0px 20px black);
  transition: background-color 0.4s;
}
#site-header.transparent-header .menu-item > a {
  color: white !important;
}
#site-header.sticky .menu-item > a {
  color: var(--rose-madder) !important;
}
#intro,
#skills {
  width: 50%;
}
#background-header-text {
  font-weight: 800;
  /* color: var(--rose-madder);
  opacity: 0.25; */
  position: relative;
  z-index: -4;
  opacity: 0.03;
  top: 100px;
  mix-blend-mode: exclusion;
  font-family: Arial;
  font-size: 14em;
  text-align: left;
  margin: 0;
  letter-spacing: -0.06em;
  line-height: 80%;
}
p {
  font-family: "IBM Plex Regular";
  color: #c5c5c5;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 2;
}
#header-social-links {
  position: fixed;
  right: 0;
  width: 100px;
  top: 200px;
  padding: 10px 16px;
}
@media (min-width: 100px) {
  #background-header-text {
    font-size: 10em;
  }
}
@media (min-width: 400px) {
  #background-header-text {
    font-size: 14em;
  }
}

@media (max-width: 700px) {
  #waf-title {
    margin-top: -100px;
  }
  #intro {
    width: 100%;
  }
  #skills {
    width: 100%;
  }
  p {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
  }
  #header-social-links {
    right: -30px;
  }
  .section-header {
    font-size: 25px !important;
  }
  .left-column {
    margin-left: -220px;
    display: none;
  }
  .right-column {
    margin-right: -220px;
  }
  .middle-section {
    width: 100%;
    font-size: smaller;
  }
}
@media (min-width: 600px) {
  #background-header-text {
    font-size: 14em;
  }
}
@media (min-width: 700px) {
  #background-header-text {
    font-size: 18em;
  }
}
@media (min-width: 1220px) {
  #background-header-text {
    font-size: 25em;
  }
}

.middle-section {
  /* width: 70%;
  margin: 0;
  backdrop-filter: blur(2px);
  background-color: #2229;
  border-radius: 40px;
  box-shadow: 10px 10px 80px black;
  padding: 50px; */
}

.section-header {
  font-size: 35px;
  margin-left: 0;
  margin-top: 0px;
  font-weight: 100;
}
.section-container {
  display: flex;
  margin: 0;
  margin-top: 200px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 3em;
  margin-top: 3em;
}
.half-column {
  width: 50%;
  min-width: 360px;
}
#skill-img-column {
  width: 100%;
  height: fit-content;
  left: 0%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1000;
}

#sphereCanvas {
  height: 700px;
  width: 50%;
}
@media (max-width: 700px) {
  #sphereCanvas {
    width: 100%;
  }
}

.left-column {
  margin-left: -100px;
}

.right-column {
  margin-right: -100px;
}

ul.social-icons {
  flex-direction: column;
}

/* #site-header {
  position: fixed;
  top: 0;
  width: 100%;
}

#site-content {
  padding-top: 100px;
} */

body:not(.overlay-header) .primary-menu ul {
  background-color: var(--dark-jungle-green);
}

body:not(.overlay-header) .primary-menu > li > ul:after {
  border-bottom-color: var(--dark-jungle-green);
}

body:not(.overlay-header) .primary-menu ul ul:after {
  border-left-color: var(--dark-jungle-green);
}

.site-description,
body:not(.overlay-header) .toggle-inner .toggle-text,
.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.powered-by-wordpress,
.to-the-top,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
  color: #6d6d6d;
}

.site-description {
  color: #c5c5c5;
}

.header-titles {
  filter: ;
}

.header-footer-group pre,
.header-footer-group fieldset,
.header-footer-group input,
.header-footer-group textarea,
.header-footer-group table,
.header-footer-group table *,
.footer-nav-widgets-wrapper,
#site-footer,
.menu-modal nav *,
.footer-widgets-outer-wrapper,
.footer-top {
  border-color: var(--uranian-blue);
}

.header-footer-group table caption,
body:not(.overlay-header) .header-inner .toggle-wrapper::before {
  background-color: var(--uranian-blue);
}

.has-text-align-justify {
  text-align: justify;
}

#header {
  background: transparent;
  margin-top: 200px;
  margin-left: 3em;
  margin-bottom: 200px;
  mix-blend-mode: overlay;
  /* background: black;
  transform: skewY(-11deg);
  z-index: -999;
  margin-bottom: 200px; */
}
#background-text-container {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -4;
  backdrop-filter: hue-rotate(43deg);
}
.profile-img {
  position: absolute;
  right: 10%;
  border-radius: 100%;
  border: 2px solid white;
  margin-top: 400px;
  margin-left: 3em;
}
#particles {
  position: absolute;
  background-color: transparent;
  width: 60%;
  height: 50%;
  top: -100px;
  left: 0px;
  z-index: -999;
  mix-blend-mode: hard-light;
  opacity: 1;
}
/* 3bffbd */
.slant {
  position: absolute;
  top: -70%;
  box-shadow: 10px 10px 10px black;
  left: 0;
  width: 100%;
  height: 90%;
  opacity: 50%;
  z-index: -10;
}

.section-slant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: #0008;
  z-index: -1;
  backdrop-filter: blur(2px);
}
